{% extends "mznapl/base/base.jinja" %}

{% block body %}
    <h2>Posts</h2>
    {% if posts %}
        <ul class="list h-feed">
            {% for post in posts %}
                <li class="h-entry">
                    <span class="tag tag-left tag-{{ post.tag }}">{{ post.tag }}</span>
                    <a href="{{ url('post.show', slug=post.slug) }}" class="u-url p-name">{{ post.title }}</a>
                    <time datetime="{{ post.created_at }}" class="dt-published small subtle">· {{ post.created_at|date2str }}</time>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>No posts yet! Check back.</p>
    {% endif %}
{% endblock body %}
