{% extends "mznapl/base/base.jinja" %}

{% block scripts %}
    {{ super() }}
    <script src="{{ static('scripts/webmention.min.js') }}" async></script>
{% endblock %}

{% block body %}
    <article class="h-entry">
        <h2 class="p-name">{{ post.title }}</h2>
        <div class="meta">
            <a href="https://mzna.pl" class="p-author h-card">marzena</a>
            <time class="dt-published" datetime="{{ post.created_at }}">{{ post.created_at|date2str }}</time>
            <span class="tag tag-{{ post.tag }}">{{ post.tag }}</span>
        </div>
        <div class="e-content">{{ post.body|safe }}</div>
    </article>
    <hr>
    <div id="webmentions"></div>
    <p class="small subtle comment-helper">Comment with a <a href="https://webmentions.neocities.org/">webmention</a></p>
{% endblock body %}
