{% extends "mznapl/base/base.jinja" %}

{% block body %}
    <img src="{{ static('images/lenny.jpeg') }}" alt="Lenny from The Simpsons" class="image">
    <h2>Aw, nuts.</h2>
    <p>That's not a page. Sorry.</p>
    <p>If you were really expecting it to be, it probably means I've not made it yet or something's gone a bit wrong. My bad!</p>
{% endblock body %}
