{% extends "mznapl/base/base.jinja" %}

{% block body %}
    <h2>Ruh roh.</h2>
    <p>My little server is whispering to me. Yes, yes. Something has gone very wrong.</p>
    <p>Sorry about that... :s</p>
{% endblock body %}
